HashKnownHosts no
Host *
  GSSAPIAuthentication no
  ForwardAgent no
  
  ServerAliveInterval 60
  ServerAliveCountMax 30

  Compression yes
  CompressionLevel 6
  
  LogLevel DEBUG1
  
  ControlMaster auto
  ControlPath ~/.ssh/control/%h-%l-%p
  ControlPersist 600
